/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global styles */
* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #d4d4d4;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1;
}

.container {
  box-sizing: border-box;
  margin: 0px auto;
}

.homeMain {
  flex: 1;
  display: flex;
}

.homeMain {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  border-radius: 30px;
  background: #fff;
  width: 100%;
  height: 100%;
}

/* Table CSS */
.table-container {
  width: 100%;
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.responsive-table th,
.responsive-table td {
  padding: 18px 10px;
  border: 1px solid #ddd;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: "Manrope", sans-serif;
}

.responsive-table thead th {
  background-color: #f4fbeb;
  vertical-align: middle;
}

.search-row th {
  background-color: transparent;
}

.even-row {
  background-color: #f8fafd;
  color: #fff;
}

.even-row td {
  color: #000000;
}

.responsive-table th {
  background-color: #f4fbeb;
  padding: 10px 10px;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 16.39px;
  text-align: left;
}

@media (max-width: 520px) {
  .responsive-table th {
    font-size: 10px;
  }
}

.responsive-table thead th:first-child {
  border-top-left-radius: 10px;
}

.responsive-table thead th:last-child {
  border-top-right-radius: 10px;
}

.responsive-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.responsive-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 768px) {
  .responsive-table th,
  .responsive-table td {
    white-space: normal;
  }
}

.top_nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 800;
  height: 54px;
}

@media (max-width: 830px) {
  .top_nav {
    font-size: 12px;
    font-weight: 700;
  }
}

@media (max-width: 830px) {
  tbody td {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  tbody td {
    font-size: 10px;
  }
}

@media (max-width: 520px) {
  .top_nav {
    font-size: 10px;
  }
}

@media (max-width: 520px) {
  .top__nav_right_txt {
    position: absolute;
    visibility: hidden;
  }
}

@media (max-width: 520px) {
  .non-current {
    position: absolute;
    visibility: hidden;
  }
}

.top__nav_btn {
  border: 1px solid #f3f6fb;
  padding: 20px 10px;
  gap: 10px;
  border-radius: 10px;
  display: flex;
  padding: 17.5px 20px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 830px) {
  .top__nav_btn {
    padding: 5px;
    gap: 5px;
  }
}

.top__nav_btn_gray {
  height: 54px;
  padding: 20px 0px;
  gap: 10px;
  border-radius: 10px;
  padding: 17.5px 20px;
  background: #f3f6fb;
  display: flex;
  align-items: center;
}

@media (max-width: 830px) {
  .top__nav_btn_gray {
    padding: 5px;
    gap: 5px;
  }
}

.top__nav_btns {
  display: flex;
  gap: 10px;
}

.top__nav_center_btn_right {
  transform: rotate(180deg);
}

@media (max-width: 830px) {
  .top__nav_center_btn_right {
    width: 25px;
  }
}

@media (max-width: 830px) {
  .top__nav_center_btn {
    width: 25px;
  }
}

.top__nav_center {
  display: flex;
  gap: 40px;
}

@media (max-width: 830px) {
  .top__nav_center {
    gap: 10px;
  }
}

.top__nav_center_num {
  display: flex;
  border: 1px solid #f4fbeb;
  width: 34px;
  height: 34px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 830px) {
  .top__nav_center_num {
    width: 20px;
    height: 20px;
  }
}

.top__nav_center_currentNumber {
  display: flex;
  align-items: center;
  gap: 5px;
}

.top__nav_right {
  height: 54px;
  padding: 17.5px 20px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
}

@media (max-width: 830px) {
  .top__nav_right {
    padding: 5px;
    gap: 5px;
  }
}

td {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.39px;
  text-align: left;
}
