html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote,
blockquote,
q,
q {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
  margin: 0;
}

.homeMain {
  display: flex;
  flex-direction: column;
}

.one {
  background: #a1e9ff;
}

.one,
.two {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
}

.two__button_container {
  position: absolute;
  top: 100px;
  margin: 0 auto;
  display: flex;
  gap: 12px;
}

.two__button_btn {
  width: 46px;
  height: 46px;
  background: #232323;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two__video_container {
  width: 791px;
  height: 506px;
  margin: 0 auto;
  background: #a1e9ff;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.two__video_video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

.two__video_txt_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  pointer-events: none;
}

.two__video_txt {
  font-family: "Neue Montreal", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  white-space: nowrap;
  animation: scroll-left 10s linear infinite;
  color: #fff;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
